# Ignore node_modules directory
/node_modules

# Ignore logs
logs/
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore .env file containing sensitive information
.env
